<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.practice.repository.PracticeMapper">

    <insert id="create" parameterType="com.example.demo.practice.entity.PracticeEntity">
        INSERT INTO practice (name, code)
        VALUES (#{name}, #{code});
    </insert>

    <select id="getAll" parameterType="com.example.demo.practice.entity.PracticeEntity">
        SELECT * FROM practice;
    </select>

</mapper>